body {
  padding-top: 50px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert{
  float : none;
}


.log_header{
  cursor : pointer;
}


.mbottom{
  margin-bottom : 20px;
}
